<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xulc.algorithmstudy">
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ListViewActivity" android:screenOrientation="portrait"/>
        <activity android:name=".TestBgaRefreshActivity" android:screenOrientation="portrait"/>
        <activity android:name=".StudyActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LearnActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ViewPagerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".TestIrregularActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BezierHeaderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".StudyTabIndicatorActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>