<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xulc.algorithmstudy">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    //定位包、导航包需要的额外权限（注：基础权限也需要）
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>



    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="3911c5487dbf087562e546f1aee5caa7"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="CTcKIUXruoNAL3OC0lmrWM9OZnMCsgKj" >
        </meta-data>
        <activity android:name=".ui.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.LearnActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ViewPagerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.TestIrregularActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.BezierHeaderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.StudyTabIndicatorActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.StudyPermissionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.BatteryTestActivity" android:screenOrientation="portrait"/>

        <service android:name="com.amap.api.location.APSService"/>
    </application>

</manifest>