<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xulc.algorithmstudy">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    //定位包、导航包需要的额外权限（注：基础权限也需要）
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.bluetooth.le" android:required="true"/>
    <!--第一个权限是应用使用蓝牙的权限，第二个权限是扫描蓝牙设备或者操作蓝牙设置等等的权限，第三个是将required设置为true则强制应用只能再支持ble的设备上运行。-->
    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="3911c5487dbf087562e546f1aee5caa7"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="CTcKIUXruoNAL3OC0lmrWM9OZnMCsgKj" >
        </meta-data>
        <activity android:name=".ui.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.LearnActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ViewPagerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.TestIrregularActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.BezierHeaderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.StudyTabIndicatorActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.StudyPermissionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.BatteryTestActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.StudyTouchDispatchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ActivityMessenger" android:screenOrientation="portrait"/>
        <activity android:name=".ui.BluetoothDeviceActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.StudyBluetoothActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.BluetoothChatClientActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.BluetoothChatServerActivity" android:screenOrientation="portrait"/>
        <!--高德服务-->
        <service android:name="com.amap.api.location.APSService"/>
        <!--第三方蓝牙通信库服务-->
        <service android:name="com.inuker.bluetooth.library.BluetoothService" />
        <service android:name=".ui.MessengerServiceDemo"
            android:process=":messenger">
            <intent-filter>
                <action android:name="com.xulc.algorithmstudy"></action>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service
            android:name=".ui.PushService"
            android:enabled="true"
            android:process=":push"
            android:exported="true">
        </service>
    </application>

</manifest>